.roadmapGridContainer {
  position: relative;
  display: grid;
  gap: 1.5rem;
}

@media (min-width: 768px) {
  .roadmapGridContainer {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
    padding-bottom: 7rem;
  }
}
